.countdown {
    text-align: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #51A556;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 8px));
    grid-column-gap: 10px;
}


.example-full-width {
    z-index: 100;
    margin-right: 1em;
    color: black;
    font-weight: bold;
    height: 4em;
    width: 8em;
}

.selectTime {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.mat-button{
    height:48px !important;
    width:48px !important;
    font-size:48px !important;
}

.timeInput{
margin: 0.5em;
font-weight: bold;
text-align: right;
width: 5em;
}

.clock{
width: 80%;
margin: auto;
font-size: 15vw;
}


